<div class="container">
  <h2>Applications</h2>
     <div class="shadow p-3 mb-5 bg-white rounded">
      <table class="table" *ngIf="applications">
       <thead class="thead-dark">
         <tr>
           <th scope="col">Id</th>
           <th scope="col">First Name</th>
           <th scope="col">Middle Name</th>
           <th scope="col">Last Name</th>
           <th scope="col">Details</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let app of applications | paginate: { itemsPerPage: count, currentPage: p }, let i = index">
           <th scope="row">{{i+1}}</th>
           <th scope="row">{{app.firstName}}</th>
           <th scope="row">{{app.middleName}}</th>
           <th scope="row">{{app.lastName}}</th>
           <th scope="row">
              <a routerLink='/application/modify/{{app.id}}'>
                <img src="https://image.shutterstock.com/image-vector/information-icon-vector-faq-details-600w-1726224334.jpg" alt="">
              </a>
            </th>
         </tr>
       </tbody>
     </table>
 </div>
 <div class="text-right">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</div>
<ngx-spinner id="spinner" bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color: white">Please Wait. </p>  
</ngx-spinner> 