/* You can add global styles to this file, and also import other style files */
.loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ffffff
    url('https://c.tenor.com/tEBoZu1ISJ8AAAAC/spinning-loading.gif')
    no-repeat center;
    z-index: 99999;
  }