<div class="container">
  <h2>Search Certificate</h2>
  <form #form="ngForm" class="shadow p-3 mb-5 bg-white rounded">
    <div class="filter">
    <div class="names">
      <h4>Names</h4>
      <div class="form-group">
        <label for="searchDto">First Name</label>
        <input class="form-control"
               type="text"
               name="firstName"
               #firstName="ngModel"
               [(ngModel)]="searchDto.firstName"
               required>
      </div>
      <div class="form-group">
        <label for="searchDto">Middle Name</label>
        <input class="form-control"
               type="text"
               name="middleName"
               #middleName="ngModel"
               [(ngModel)]="searchDto.middleName">
      </div>
      <div class="form-group">
        <label for="searchDto">Last Name</label>
        <input class="form-control"
               type="text"
               name="lastName"
               #lastName="ngModel"
               [(ngModel)]="searchDto.lastName">
      </div>
    </div>
    <div class="address">
      <h4>Adress</h4>
      <div class="form-group">
        <label for="searchDto">Municipality</label>
        <input class="form-control"
               type="text"
               name="municipality"
               #municipality="ngModel"
               [(ngModel)]="searchDto.municipality">
      </div>
      <div class="form-group">
        <label for="searchDto">Region</label>
        <input class="form-control"
               type="text"
               name="region"
               #region="ngModel"
               [(ngModel)]="searchDto.region">
      </div>
      <div class="form-group">
        <label for="searchDto">City</label>
        <input class="form-control"
               type="text"
               name="city"
               #city="ngModel"
               [(ngModel)]="searchDto.city">
      </div>
    </div>
    <div class="request">
    <label for="type">Request Status</label>
      <select [(ngModel)]="status" [ngModelOptions]="{standalone: true}">
          <option [ngValue]="-1">Empty</option>
          <option [ngValue]="0">In Creation</option>
          <option [ngValue]="1">In Processing</option>
          <option [ngValue]="2">Approved</option>
          <option [ngValue]="3">Disapproved</option>
      </select>
    </div>
  </div>
  <div class="buttons">
    <button type="button"
            class="btn btn-primary"
            (click)="searchApplications()">Search</button>
    <button type="button"
            class="btn btn-danger"
            (click)="deleteFilter()">Delete filter</button>
  </div>
  </form>
  <div *ngIf="certificates.length > 0" class="answer">
    <div  class="shadow p-3 mb-5 bg-white rounded">
       <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Municipality</th>
            <th scope="col">Region</th>
            <th scope="col">City</th>
            <th scope="col">Interships duration</th>
            <th scope="col">Courses duration</th>
            <th scope="col">Status</th>
            <th scope="col">View</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let certificate of certificates | paginate: { itemsPerPage: count, currentPage: p }, let i = index">
            <th scope="row">{{i+1}}</th>
            <th scope="row">{{certificate.firstName}}</th>     
            <th scope="row">{{certificate.middleName}}</th>
            <th scope="row">{{certificate.lastName}}</th>

            <th scope="row">{{certificate.municipality}}</th>
            <th scope="row">{{certificate.region}}</th>
            <th scope="row">{{certificate.city}}</th>

            <th scope="row">{{certificate.durationIntershipDays}}</th>
            <th scope="row">{{certificate.durationCourseDays}}</th>

            <th scope="row">{{certificate.status}}</th>
            <th scope="row">
              <a routerLink='/certificate/{{certificate.id}}'>
                <img src="https://image.shutterstock.com/image-vector/information-icon-vector-faq-details-600w-1726224334.jpg" alt="">
              </a>
            </th>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
</div>
<ngx-spinner id="spinner" bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color: white">Please Wait. </p>  
</ngx-spinner> 