.names{
  display: block;
}
.address{
  display: block;
}
.form-group{
  margin: 2rem;
}
.request{
  width: 20%;
}
.btn{
  margin-left: 2rem;
}
.filter{
  display: flex;
}
.filter{
  margin: auto;
  width: 70%;
}
.request{
  margin-top: 4rem;
  margin-left: 3rem;
}
.buttons{
  margin: auto;
  width: 70%;
}
img{
  width: 60px;
  height: 60px;
}