.items{
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.form-group{
    display: flex;
}
#certificateForm{
    margin: auto;
    width: 40%;
}

label{
    padding-right: 0.5rem;
}

h2{
    padding: 2rem;
    padding-left: 6em;
}