<div class="container">
    <h2 id="mainTag">Certificate</h2>
    <form #form="ngForm"
          *ngIf="certificate">
      <div class="names shadow p-3 mb-5 bg-white rounded" id="certificateForm">
        <h4>Names</h4>
        <div class="form-group">
            <div class="items">
                <label for="application"> First Name:</label>
                <label for="application">{{certificate.firstName}}</label>
            </div>
            <div class="items" *ngIf="certificate.middleName != null">
                <label for="application"> Middle Name:</label>
                <label for="application">{{certificate.middleName}}</label>
            </div>
            <div class="items">
                <label for="application"> Last Name:</label>
                <label for="application">{{certificate.lastName}}</label>
            </div>
        </div>
        <h4>Address</h4>
        <div class="form-group">
            <div class="items" *ngIf="certificate.municipality != null">
                <label for="application">Municipality:</label>
                <label for="application">{{certificate.municipality}}</label>
            </div>
            <div class="items" *ngIf="certificate.region != null">
                <label for="application">Region:</label>
                <label for="application">{{certificate.region}}</label>
            </div>
            <div class="items" *ngIf="certificate.city != null">
                <label for="application">City:</label>
                <label for="application">{{certificate.city}}</label>
            </div>
        </div>
        <h4>Education duration</h4>
        <div class="form-group">
            <div class="items">
                <label for="application">Interships Duration:</label>
                <label for="application">{{certificate.durationIntershipDays}}</label>
            </div>
            <div class="items">
                <label for="application">Courses Duration:</label>
                <label for="application">{{certificate.durationCourseDays}}</label>
            </div>
        </div>
      </div>
    </form>
  </div>
  <ngx-spinner id="spinner" bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
  </ngx-spinner> 