<div class="container">
  <h2>Create application</h2>
  <form #form="ngForm">
    <div class="names shadow p-3 mb-5 bg-white rounded">
      <h4>Names</h4>
      <div class="form-group">
        <label for="application">First Name</label>
        <input class="form-control"
               type="text"
               name="firstName"
               #firstName="ngModel"
               [(ngModel)]="applicationForm.firstName">
      </div>
      <div class="form-group">
        <label for="application">Middle Name</label>
        <input class="form-control"
               type="text"
               name="middleName"
               #middleName="ngModel"
               [(ngModel)]="applicationForm.middleName">
      </div>
      <div class="form-group">
        <label for="application">Last Name</label>
        <input class="form-control"
               type="text"
               name="lastName"
               #lastName="ngModel"
               [(ngModel)]="applicationForm.lastName">
      </div>
      <div class="form-group">
        <label for="application">Email</label>
        <input class="form-control"
               placeholder="youremail@gmail.com"
               type="text"
               name="email"
               #email="ngModel"
               [(ngModel)]="applicationForm.email">
      </div>
    </div>
    <div class="form-group shadow p-3 mb-5 bg-white rounded">
      <label for="type">Choose Request Type:</label>
      <select [(ngModel)]="requestType" [ngModelOptions]="{standalone: true}">
          <option [ngValue]="0">Practicing a profession</option>
          <option [ngValue]="1">Issuance of a certificate of competence</option>
      </select>
    </div>
    <div class="address shadow p-3 mb-5 bg-white rounded">
      <h4>Address</h4>
      <div class="form-group">
        <label for="address">Municipality</label>
        <input class="form-control"
               type="text"
               name="municipality"
               #municipality="ngModel"
               [(ngModel)]="address.municipality">
      </div>
      <div class="form-group">
        <label for="address">Region</label>
        <input class="form-control"
               type="text"
               name="region"
               #region="ngModel"
               [(ngModel)]="address.region">
      </div>
      <div class="form-group">
        <label for="address">City</label>
        <input class="form-control"
               type="text"
               name="city"
               #city="ngModel"
               [(ngModel)]="address.city">
      </div>

      <div class="form-group">
        <label for="address">Address of Applicant</label>
        <input class="form-control"
               type="text"
               name="applicantAddress"
               #applicantAddress="ngModel"
               [(ngModel)]="address.applicantAddress">
      </div>
    </div>

    <div class="qualifications shadow p-3 mb-5 bg-white rounded">
      <h4>Qualifications</h4>
      <div class="qualifications" *ngFor="let qualification of qualifications, let i = index">
        <div class="form-group">
          <label for="type">Choose Qualification Type:</label>
          <select [(ngModel)]="qualifications[i].type" [ngModelOptions]="{standalone: true}">
              <option [ngValue]="0">Intership</option>
              <option [ngValue]="1">Qualification Course</option>
          </select>
        </div>
      <form class="form-inline">
        <div class="form-group">
          <label for="startDate">Start Date</label>
          <div class="input-group">
            <input type="date" [(ngModel)]="qualifications[i].startDate" [ngModelOptions]="{standalone: true}" required/>
          </div>
        </div>
      </form>
      <form class="form-inline">
        <div class="form-group">
          <label for="finalDate">Final Date</label>
          <div class="input-group">
            <input type="date" [(ngModel)]="qualifications[i].finalDate" [ngModelOptions]="{standalone: true}" required/>
          </div>
        </div>
      </form>
      <div class="form-group">
        <label for="description">Short Description</label>
        <input class="form-control"
               type="text"
               name="shortDescription"
               #shortDescription="ngModel"
               [(ngModel)]="qualifications[i].shortDescription" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="buttons">
        
        <button type="button"
                class="btn btn-danger"
                (click)="removeQualification(i)">Remove</button>
      </div>
    </div>
    <button type="button"
                class="btn btn-info"
                (click)="addQualification()">Add Blank</button>
  </div>
  </form>
  <div class="buttons">
    <button type="button"
            class="btn btn-primary store"
            (click)="storeDraftApplications()">Store Draft</button>
  </div>
</div>
<ngx-spinner id="spinner" bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color: white">Please Wait. </p>  
</ngx-spinner> 
