<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"
     href="#"
     style="margin-left: 1rem;">Sertificate System</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-outline-success my-2 my-sm-0"
            style="margin-right: 1rem;"
            type="submit"
            routerLink="/search">Search</button>
    <button class="btn btn-outline-success my-2 my-sm-0"
            style="margin-right: 1rem;"
            type="submit"
            routerLink="/applications/form">Create Application</button>
    <button class="btn btn-outline-success my-2 my-sm-0"
            style="margin-right: 1rem;"
            type="submit"
            routerLink="/admin">Admin Page</button>
  </form>
</nav>